<section>
   
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">  
            <div class="comment mt-4 text-justify float-left"> <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4><%= comment.commenter %></h4> <span><%= comment.updated_at.strftime("%H:%M, %-d.%-m.%Y") %></span> <br>
                    <p><%= comment.body %></p>
                    <% if current_user && current_user.admin %>
                    <p><%= button_to 'Destroy Comment', [comment.post, comment], method: :delete %></p>
                    <% end %>
                </div>
                
            </div>
            
        </div>

</section>

